<h1 class="text-6xl font-semibold text-gray-700 dark:text-gray-200">
    403
</h1>
<p class="text-gray-700 dark:text-gray-300">
    Forbidden page, 
    <a
    class="text-purple-600 hover:underline dark:text-purple-300"
    href="/"
    >
    go back
    </a>
    .
</p>