<h1 class="text-6xl font-semibold text-gray-700 dark:text-gray-200">
    500
</h1>
<p class="text-gray-700 dark:text-gray-300">
    Something bad happen, 
    <a
    class="text-purple-600 hover:underline dark:text-purple-300"
    href="/"
    >
    please go back
    </a>
    .
</p>
<p class="mt-1 text-gray-700 dark:text-gray-300">
    If the error persist, contact @kuro_vale on twitter.
</p>
